body {
    background-color: cornflowerblue;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px ;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
}

section {
    background-color: rgb(255, 255, 255);
    min-width: 250px;
    max-width: 600px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px;
    border: 1px solid rgb(24, 32, 53);
}



input {
    border-radius: 10px;
    border: 2px solid lightblue;
}

input:hover {
    background-color: beige;
    border: 2px solid black;

}
#Botao {
    display: block;
    margin: auto;
    padding: 10px 50px 10px;
    font-size: 15px;  
    font-weight: 600;  
}


img {
    display: block;
    margin: auto;
}
